$accent-color: hsl(258, 88%, 66%);

$colors: (
    'base-65': hsl(0, 0%, 64%),
    'red-alt': hsl(355, 65%, 65%),
    'orange-alt': hsl(29, 54%, 61%),
    'yellow': hsl(50, 65%, 58%),
    'green-alt': hsl(95, 38%, 62%),
    'cyan': hsl(187, 47%, 55%),
    'blue': hsl(207, 82%, 66%),
    'pink': hsl(286, 60%, 67%),
);

$backgrounds: (
    'background': (
        'primary': --color-base-25,
        'secondary': --color-base-00,
        'primary-alt': --color-base-30,
        'secondary-alt': --color-base-30,
    ),
    'titlebar': (
        'background': --background-secondary-alt,
        'background-focused': --background-secondary,
    )
);

$tag-colors: (
    'hr': --color-base-40,
)