// El $prefix debe incluir un '-' al final y el $suffix debe incluir un '-' al inicio
@mixin single-map-css-vars($map, $prefix: '', $suffix: '', $var: false) {
    @each $key, $value in $map {
        --#{$prefix}#{$key}#{$suffix}: #{if($var, var($value), $value)};
    }
}
// genera las variables CSS de un mapa anidado
@mixin double-map-css-vars($map, $var: false) {
    @each $prefix, $properties in $map {
        @each $key, $value in $properties {
            --#{$prefix}-#{$key}: #{if($var, var($value), $value)};
        }
    }
}
// genera las variables de los color y sus variables rgb correspondiente
@mixin colors($colors) {
    @each $key, $value in $colors {
        --color-#{$key}: #{$value};
        --color-#{$key}-rgb: #{red($value)}, #{green($value)}, #{blue($value)};
    }
}
// El $dir debe incluir un '-' al inicio
@mixin thin-border($dir: '') {
    border#{$dir}: var(--tab-outline-width) solid var(--tab-outline-color);
}
@mixin hr-border($dir: '') {
    border#{$dir}: var(--hr-thickness) solid var(--hr-color);
}
// remove default li marker and add styled bullet point
@mixin bullet-point {
    ul>li::marker {
        color: transparent
    }
    ul>li:not(.task-list-item)::before {
        position: absolute;
        content: '\200B';
        pointer-events: none;
        color: var(--list-marker-color);
        border-radius: var(--list-bullet-radius);
        width: var(--list-bullet-size);
        height: var(--list-bullet-size);
        border: var(--list-bullet-border);
        transform: translate(calc(-0.5em - 4px), calc(0.75em - 2.5px));
        background-color: var(--list-marker-color);
        transition: transform 0.15s, box-shadow 0.15s;
        will-change: transform;
    }
}