$accent-color: hsl(85, 45%, 40%);

$colors: (
    'accent': $accent-color,
    'base-65': hsl(0, 0%, 64%),
    'red-alt': hsl(355, 65%, 70%),
    'red-alt2': hsl(0, 80%, 30%),
    'orange-alt': hsl(29, 54%, 61%),
    'yellow': hsl(50, 65%, 70%),
    'green-alt': hsl(95, 38%, 62%),
    'cyan-alt': hsl(170, 100%, 24%),
    'cyan': hsl(187, 47%, 55%),
    'blue': hsl(207, 82%, 70%),
    'pink': hsl(286, 60%, 67%),
);

$backgrounds: (
    'background': ('primary': --color-base-25,
        'secondary': --color-base-00,
        'primary-alt': --color-base-30,
        'secondary-alt': --color-base-30,
    ),
    'titlebar': ('background': --background-secondary-alt,
        'background-focused': --background-secondary,
    )
);

$tag-colors: (
    'hr': --color-base-40,
    'strike': --text-muted,
    'bold': --color-red-alt,
    'italic': --color-yellow,
    'table-border': --color-base-50,
    'highlight': --color-red-alt2-rgb,
);

$heading-colors: (
    'h1': --color-red-alt,
    'h2': --color-yellow,
    'h3': --color-blue,
    'h4': --color-orange-alt,
    'h5': --color-green-alt,
    'h6': --color-purple
);

$code-syntax: (
    'function': --color-blue,
    'operator': --color-cyan,
    'property': --color-red-alt,
    'punctuation': --color-orange-alt,
    'string': --color-green-alt,
    'tag': --color-red-alt,
    'value': --color-orange-alt,
);

$canvas-colors: ('color-6': --color-accent-rgb);