@use '../utils' as *;
/* live preview blockquote's padding to see the cursor */
.cm-s-obsidian span.cm-formatting-quote:first-child {
    padding-inline-start: 2.4px;
}
/* read mode blockquote margin and padding to match live preview */
.markdown-preview-view blockquote {
    padding-inline-start: calc(1em + 0.4px);
    margin: 0;
}
/* callout wrap break words and hide scrollbar to match read mode */
.callout {
    overflow-wrap: break-word;
    margin: 0;
    .callout-content {
        overflow: hidden;
    }
}
/* remove callout margins inside callouts in both modes */
.markdown-preview-view .callout-content .callout,
.markdown-source-view.mod-cm6 .callout-content .callout {
    margin: 0;
}
/* live preview lists inside callouts to match read mode */
.markdown-source-view .callout {
    @include bullet-point;
    .task-list-item-checkbox {
        --checkbox-indent-editing: -1.1em;
        --checkbox-end-margin-editing: calc(0.125em - 0.5px);
    }
}
/* codeblocks rendered inside callouts */
.markdown-rendered .callout { 
    &:has(pre){
        padding-bottom: 13px;
    }
    pre{
        padding: 0 0 0 1px;
    }
}