@use '../utils' as *;
@use '../utils/egyptian-theme' as *;

.theme-light {
    --accent-h: #{strip-units(hue($accent-color))};
    --accent-s: #{saturation($accent-color)};
    --accent-l: #{lightness($accent-color)};

    @include single-map-css-vars($base-colors, $prefix: 'color-base-');
    @include colors($colors);
    @include double-map-css-vars($backgrounds, true);
    @include single-map-css-vars($tag-colors, $suffix: '-color', $var: true);
    @include single-map-css-vars($heading-colors, $suffix: '-color', $var: true);
    @include single-map-css-vars($code-syntax, $prefix: 'code-', $var: true);
    @include single-map-css-vars($canvas-colors, $prefix: 'canvas-', $var: true);
    --text-highlight-bg-rgb: var(--highlight-color);
    --metadata-icon: '📜';
}