/* change direction of canvas menu animation to horizontal */
@media (hover: hover) {
    .canvas-card-menu .canvas-card-menu-button.mod-draggable:hover svg {
        transform: translateX(-6px);
    }
}
/* change direction and size of canvas menu to vertical */
.canvas-wrapper .canvas-card-menu {
    right: 0;
    bottom: 28px;
    left: initial;
    transform: translateX(0);
    flex-direction: column-reverse;
    background-color: var(--interactive-normal);
    .canvas-card-menu-button{
        padding: var(--size-2-3);
        svg {
            fill: var(--interactive-normal);
        }
    }
}
/* canvas cards scrollbar space */
.canvas-node-content.markdown-embed .markdown-preview-view {
    scrollbar-gutter: stable;
}
/* read mode canvas metadata space for cards and notes */
.canvas-node-content .markdown-preview-pusher + div:has(pre),
.canvas-node-content div:has(.inline-title) + div:has(pre) {
    padding-bottom: 24px;
}
/* match live preview and read mode padding in canvas cards */
.canvas-node-content.markdown-embed>.markdown-embed-content>.markdown-preview-view,
.markdown-source-view.mod-inside-iframe>.cm-editor>.cm-scroller {
    padding-right: calc(var(--canvas-space-x) - var(--scrollbar-width));
    padding-left: var(--canvas-space-x);
}
/* read mode canvas card blocks height above and bellow content */
.canvas-node-content.markdown-embed>.markdown-embed-content>.markdown-preview-view::before,
.canvas-node-content.markdown-embed>.markdown-embed-content>.markdown-preview-view::after {
    min-height: min(calc(var(--canvas-node-height) * 0.1 - 3px), var(--canvas-space-y));
    max-height: var(--canvas-space-y);
}
/* live preview canvas card blocks height above and bellow content to match read mode */
.markdown-source-view.mod-inside-iframe>.cm-editor>.cm-scroller::before,
.markdown-source-view.mod-inside-iframe>.cm-editor>.cm-scroller::after {
    min-height: min(calc(10vh - 3px), calc(var(--canvas-space-y) - 2px));
    max-height: var(--canvas-space-y);
}
/* live preview codeblocks begin and end blocks inside canvas */
.mod-inside-iframe :is(.HyperMD-codeblock-begin, .HyperMD-codeblock-end) {
    min-height: calc(1em * var(--line-height-normal));
}
/* read mode table padding and margin bottom inside canvas */
.canvas-node-content.markdown-embed>.markdown-embed-content>.markdown-preview-view .markdown-preview-sizer>div:last-child {
    &>table:last-child {
            margin-bottom: var(--size-4-4);
        }
    &:has(> table) {
        padding-bottom: 1.5em;
    }
}
