/* align properties container */
.metadata-container {
    transform: translateX(0);
    .metadata-add-button {
        margin-top: 0;
    }
}
/* expand properties heading clickable area */
.metadata-properties-heading {
    margin-bottom: 0;
    width: 100%;
}
/* add document icon to properties title */
.metadata-properties-title {
    padding-inline-start: 12px;
    color: var(--text-muted);
    &::before {
        align-items: center;
        content: var(--metadata-icon);
    }
}
/* align metadata collapse indicator */
.metadata-properties-heading .collapse-indicator {
    inset-inline-start: -20px;
}
/* add frontmatter background in source mode */
div:has(> .frontmatter), div:has(> .cm-hmd-frontmatter),
.cm-line:has(> .is-collapsed):not(:has(> .cm-header, .cm-list-1)):first-child {
    background-color: var(--metadata-background);
}
/* change tag padding y inside properties */
.metadata-property[data-property-key=tags] {
    --tag-padding-y: 0.25em;
}