@use '../utils' as *;
/* Move Vault menu to the top */
body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile {
    background-color: var(--titlebar-background);
    padding: 5px var(--size-4-2);
    border-top: none;
    order: 0;
}
/* change Vault menu background on focus */
body.is-focused:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile {
    background-color: var(--titlebar-background-focused);
}
/* keep left sidebar tabs background color when isn't focus */
.mod-left-split .workspace-tabs.mod-top {
    --tab-container-background: var(--background-secondary);
    @include thin-border('-top');
}
/* properties background in sidebars */
.workspace>.workspace-split:not(.mod-root) .metadata-container {
    background-color: transparent;
}